img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 1%;
}

.card-wrapper {
  display: flexbox;
  flex-direction: column;
}

.project-card {
  width: 100%;
  border-radius: 0.8em;
  max-width: 350px;
  transition: all 0.2s ease-in-out;
  margin: 2em;
  height: 350px;
  background-color: #fcac5d;
  box-shadow: 5px 10px 8px #888888;
}

.project-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 0.8em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 0.8em, 0.8em, 0, 0;
  padding-top: 0%;
}

.project-card:hover {
  transform: scale(1.3);
}

.project-card-title,
a {
  color: #383635;
  text-decoration: none;
  font-family: monospace;
  font-weight: 300;
  text-align: center;
  font-size: larger;
}

a {
  background-color: #fcac5d;
}
